@mixin flex($direction, $gap, $justifyContent, $alignItems) {
	display: flex;
	justify-content: $justifyContent;
	align-items: $alignItems;
	flex-direction: $direction;
	gap: $gap;
}

p {
	cursor: pointer;
}

.Home {
	@include flex(column, 0, "", "");
	width: 100%;
	.navbar,
	.hero,
	.services,
	.skills,
	.projects,
	.timeline,
	.testimonials,
	.contact {
		width: 100%;
	}
	.topContainer {
		background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	}
	.midContainer {
		background-image: linear-gradient(to top, #fff 0%, #fff1eb 100%);
	}
	.navbar {
		z-index: 1000;
	}
}
