@mixin flex($direction, $gap, $justifyContent, $alignItems) {
	display: flex;
	justify-content: $justifyContent;
	align-items: $alignItems;
	flex-direction: $direction;
	gap: $gap;
}

@mixin fontStyle($fontSize, $fontWeight, $lineHeight) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
}

.divider {
	@include flex(row, 0, center, center);
	@include fontStyle(4.5vh, 700, "");
	text-shadow: 1px 1px 1px rgba(145, 186, 188, 0.45);
	border-radius: 10px;
	&::before,
	&::after {
		content: "";
		display: block;
		height: 0.09em;
		min-width: 30vw;
	}

	&::before {
		border-radius: 10px;
		background: linear-gradient(to right, rgba(240, 240, 240, 0), #1d1b1b);
		margin-right: 4vh;
	}

	&::after {
		border-radius: 10px;
		background: linear-gradient(to left, rgba(240, 240, 240, 0), #121111);
		margin-left: 4vh;
	}
}

p {
	cursor: pointer;
}

.Home {
	@include flex(column, 0, "", "");
	width: 100%;
	.navbar,
	.hero,
	.services,
	.skills,
	.projects,
	.timeline,
	.testimonials,
	.youtube,
	.contact {
		width: 100%;
	}
	.navbar {
		z-index: 1000;
	}
}

.light {
	.topContainer {
		background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	}
	.midContainer {
		background-image: linear-gradient(to top, #fff 0%, #fff1eb 100%);
	}
}
.dark {
	background-color: #c6c3c1;
}

@media (max-width: 840px) {
	.divider {
		@include fontStyle(2vh, 700, "");
	}
}

@media (max-width: 640px) {
	.divider {
		&::before {
			margin-right: 2vh;
		}

		&::after {
			margin-left: 2vh;
		}
	}
}
